{% extends 'visual/base.html' %}

{% block content %}
    <div class="row" id="intro">
        <div class="col">
            <h2 id="intro-title">Bienvenue</h2>
            <span id="intro-detail">Ce site regroupe plusieurs tutoriels de développement informatique.</span>
            <span id="intro-detail">Voici la liste des thèmes :</span>
        </div>
    </div>
    <div class="row" id="carousel">
      {% for theme in themes %}
        <div class="col-sm-6" id="home-detail">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{theme.name}}</h5>
                <p class="card-text">{{theme.description}}</p>
                <a href="{% url 'tutoriels' theme.id %}" class="btn btn-primary">Tutoriels</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
{% endblock %}